@model PAWS_ProyectoFinal.Models.Usuario
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/inicio.css">
    <link href="~/css/misEstilos.css" rel="stylesheet" />

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        .media (min-width: 768px) {
            .bd-placeholder-img-lg

        {
            font-size: 3.5rem;
        }

        }
    </style>

</head>

<body class="text-center">

    <div class="form-signin card col-md-4 col-sm-12 borde-marca">
        <form asp-action="Index">
            <img class="mb-4" src="~/imagenes/logos/LogoFelectro.png" alt="Logo de la compañía" width="200" height="158">


            <div class="form-floating">
                <input type="email" class="form-control" asp-for="Correo" placeholder="name@example.com">
                <label for="floatingInput">Correo Electrónico</label>
            </div>
            <br>
            <div class="form-floating">
                <input type="password" class="form-control" asp-for="Contrasena" placeholder="Password">
                <label for="floatingPassword">Contraseña</label>
            </div>

            <button class="w-100 btn btn-lg fondo-marca" type="submit">Ingresar</button>

        </form>

        <div>
            <a class="btn-outline-primary" asp-controller="Usuario" asp-action="Create">Registro</a>
        </div>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
