@{
    ViewData["Title"] = "Home Page";
}






<section id="portfolio" class="portfolio">

	<div class="container" data-aos="fade-up">

		<div class="section-title">
			<h2>Sección de Productos</h2>
			<h3>Los mejores productos en <span>Felectro</span></h3>
		</div>

		<div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

			<div class="col-lg-4 col-md-6 portfolio-item filter-app">
				<img src="imagenes/productos/caja_herramientas.png" class="img-fluid" alt="">
				<div class="portfolio-info">
					<h4>Caja de Herramientas</h4>
					<p>Caja de herramientas con 120 unidades</p>
					<p>₡ 134000.00</p>
					<a href="imagenes/productos/caja_herramientas.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>

				</div>
			</div>

			<div class="col-lg-4 col-md-6 portfolio-item filter-web">
				<img src="imagenes/productos/juego_desatornillador.png" class="img-fluid" alt="">
				<div class="portfolio-info">
					<h4>Juego de Desatornilladores</h4>
					<p>Juego de 10 unidades de desatornilladores de todo tipo</p>
					<p>₡ 15000.00</p>
					<a href="imagenes/productos/juego_desatornillador.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>

				</div>
			</div>

			<div class="col-lg-4 col-md-6 portfolio-item filter-app">
				<img src="imagenes/productos/taladro.png" class="img-fluid" alt="">
				<div class="portfolio-info">
					<h4>Taladro</h4>
					<p>Taladro color amarillo</p>
					<p>₡ 95000.00</p>
					<a href="imagenes/productos/taladro.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>

				</div>
			</div>
			<div class="col-lg-4 col-md-6 portfolio-item filter-app">
				<img src="imagenes/productos/luces_led.png" class="img-fluid" alt="">
				<div class="portfolio-info">
					<h4>Luces LED</h4>
					<p>20 unidades de luces LED colgantes</p>
					<p>₡ 10000.00</p>
					<a href="imagenes/productos/luces_led.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>

				</div>
			</div>
			<div class="col-lg-4 col-md-6 portfolio-item filter-app">
				<img src="imagenes/productos/farol_pared.png" class="img-fluid" alt="">
				<div class="portfolio-info">
					<h4>Farol</h4>
					<p>Farol para pared</p>
					<p>₡ 70000.00</p>
					<a href="imagenes/productos/farol_pared.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>

				</div>
			</div>
		</div>

	</div>
</section><!-- End Portfolio Section -->

