.card-centrado {
    margin: auto;    
}

.card-centrado {
   
    display: flex;
    align-self: center; 
    padding-top: 40px;
    padding-bottom: 40px;
   
}

.borde-marca {
    border-color: #5208B6;
}
.fondo-marca {
    background-color: #5208B6;
    color: yellow;
}